<html>
	<head>
		<title>Toxify</title>

    <link href="css/app.css" rel="stylesheet" type="text/css">
	</head>
	<body ng-app="toxify">
		<header ng-controller="SelfCtrl">
				<div class="left user {{status}}">
						<div class="avatar">
								<img src="img/default.png" alt="{{name}}">
								<span class="status"></span>
						</div>
						<div class="info">
								<input type="text" class="name" ng-model="name" ng-blur="setName()" value="{{name}}">
								<input type="text" class="message" ng-model="message" ng-blur="setMessage()" value="{{message}}" placeholder="What's on your mind?">
						</div>
						<div class="clear"></div>
				</div>

				<div class="right" style="margin-right: 14px">
						<h1 class="left">Toxify</h1>
						<div class="action left">
								<span class="fa fa-cog"></span>
						</div>
						<div class="action left">
								<span class="fa fa-remove" ng-click="close()"></span>
						</div>
				</div>
		</header>
		<div id="container">
				<div id="sidebar" ng-controller="ContactCtrl">
						<div>
								<input type="text" class="filter" ng-model="user" placeholder="Search contacts">
								<span class="fa fa-user-plus primary" ng-click="add()"></span>
						</div>
						<a href="#/chat/{{contact.num}}" ng-repeat="contact in contacts | orderBy: status" class="user {{contact.status}}">
								<div class="avatar">
										<img src="img/default.png" alt="{{contact.name}}">
										<span class="status"></span>
								</div>
								<div class="info">
										<h3 class="name">{{contact.name}}</h3>
										<span class="message">{{contact.message}}</span>
								</div>
								<div class="clear"></div>
						</a>
				</div>
				<div id="primary" ng-view></div>
				<div class="clear"></div>
		</div>

    <script src="js/app.js" type="application/javascript"></script>
	</body>
</html>
